.dashboard{
    /* background: url("../../assets/poster.png") no-repeat center center;
    background-size: cover; */
    display: inline-block;
    width: 204vh;
    height: 95vh;
    position: relative;
    top: 295px;
    left: 0px;
    
}

.quote{
    width: 1584px;
    height: 235px;
    color: #670D0D;
    text-align: center;
    position: absolute;
    font-family: Inter;
    font-size: 91px;
    font-style: normal;
    font-weight: 300;
    left: 233px;
    line-height: normal;
}

.to-login{
    width: 408px;
    position: absolute;
    border-radius: 39px;
    bottom: 319px;
    left: 766px;
    height: 112px;
    font-size: 38px;
    background: #6C4444;
    filter: drop-shadow(12px 11px 10px rgba(65, 44, 44, 0.25));
}