.login-form{
    width: 574px;
    height: 447px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 66px;
    left: 29%;
    position: absolute;
    border-radius: 12px;
    background: rgba(99, 90, 208, 0.57);
}

