.sidebar{
    width: 10%;
    background-color: rgb(21, 125, 182);
    position: absolute;
    bottom: 0;
    top: 54px;
}

.sidebar_link{
    border: 1px solid black;
    text-decoration: none;
    width: 100%;
}