p.heading{
    position: absolute;
    font-size: 40px;
    left: 110px;
}

.articles{

}

section{
    border: 1px solid black;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 808px;
    margin: 37px;
    left: 24%;

}