.heading{
    position: absolute;
    font-size: 61px;
    left: 210px;
    font-weight: 400;
    top: 124px;
}

.articles{

}

section{
    border: 1px solid black;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    top: 92px;
    width: 808px;
    margin: 37px;
    left: 59%;

}

.search-controls{
    left: 919px;
    position: relative;
    top: 52px;
    padding-top: 14px;
    height: 41px;
}

.search-controls input{
    margin-right: 15px;
    width: 338px;
    border-radius: 6px;
    height: 33px;
}

.search-controls button{
    width: 171px;
    border-radius: 6px;
    height: 33px;

}