.heading{
    border: 1px solid black;
    position: absolute;
    font-size: 43px;
    top: 90px;
    left: 94px;
}

.general-details{
    border: 1px solid black;
    position: absolute;
    top: 36%;
    left: 10%;
    width: 300px;
    height: 10%;
}