.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1%;
}

.item-list{
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.item-list>li{
    margin-right: 20%;
}

